html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 15px;
  background-color: #f3f4f6;
}

.layui-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layui-form {
  padding: 25px 35px 0 0;
}
